@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;


}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url("https://res.cloudinary.com/dkd5jyhic/image/upload/v1595679882/background_c1ht58.svg");
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

#game-buttons {
    flex-direction: column;
}

#name-image {
    width: 80%;
    height: auto;
}

.button {
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    margin: 10px auto;
}

#play-now {
    background-color: #bb6bb9;
    color: white;
}

.instructions-button {
    background-color: #ffdc4b;
}

#instructions {
    flex-direction: column;
    border-radius: 10px;
    background-color: #bb6bb9;
    max-width: 450px;
    margin: 0px 10px;
    color: white;
    text-align: center;
    display: none;
}

#instructions * {
    margin: 20px;
}